<h1>Clientes</h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button type="button" routerLink="/client/new" class="btn btn-primary"> 
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
</div>

<table *ngIf="!loading  && clients.length > 0" class="table mt-3 animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Contacto</th>
            <th scope="col">Email</th>
            <th scope="col">Servicios</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients; let i = index">
            <th scope="row">{{ i + 1}}</th>
            <td>{{ client.name}}</td>
            <td>{{ client.contact}}</td>
            <td>{{ client.email}}</td>
            <td>{{ client.service}}</td>
            <td>
                <div *ngIf="client.statusWork" class="badge badge-success fa-lg">
                    <i class="fas fa-tasks"></i>
                </div>
                <div *ngIf="!client.statusWork" class="badge badge-danger fa-lg ">
                    <i class="fas fa-check-circle"></i>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-info mr-1" [routerLink]="['/client', client.id]">
                    <i class="fa fa-pen"></i>
                </button>
                <button type="button" class="btn btn-danger mr-1" (click)="deleteClient(client, i)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="!loading && clients.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No se encuentran clientes</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>

<div *ngIf="loading" class="alert alert-info text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Cargando...
    </p>
</div>